.drag-app {
  -webkit-app-region: drag;
}
body.main {
  height: calc(100vh - 20px);
  margin: 0px;
  background: linear-gradient(#445 0%, #334 100%);
  border: 10px solid #223;
}
body.main * {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: white;
}
body.main *:focus {
  outline: none;
}
body.main form {
  text-align: center;
  font-size: 20px;
  margin-top: -10px;
}
body.main form section input {
  font-size: 20px;
  background-color: #2228;
  border: none;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 5px;
}
body.main form section input:focus {
  background-color: #1118;
}
body.main form input {
  border-radius: 5px;
}
body.main form input[type="submit"] {
  font-size: 30px;
  background-color: #DDDA;
  color: black;
  border: none;
  cursor: pointer;
}
body.main form input[type="submit"]:focus,
body.main form input[type="submit"]:hover {
  background-color: #CCCA;
}
body.main form input[type="submit"]:active {
  background-color: #AAAA;
}
body.hack {
  background-color: black;
  color: #0F0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
body.hack::-webkit-scrollbar {
  display: none;
}
blink {
  animation: blink-animation 1.2s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
error {
  background-color: #F002;
  color: #F33;
}
warn {
  background-color: #FF01;
  color: #FF3;
}
#content:empty {
  margin-top: -18px;
}
.super {
  font-size: 22px;
  vertical-align: top;
  padding-left: 5px;
}
